.sity-special
{
background-color: rgba(189, 200, 217,0.102);
box-shadow: 0 0 15px 5px rgba(189, 200, 217, 0.102);
margin: 2vw auto;
}




.sity-special__title,.sity-special__body-left-title{

  @include title-font;
  color: rgb(96, 111, 129);
  font-weight: bold;
  text-align: center;
  line-height: 2em;
  
}
.sity-special__title
{
  color: rgb(96, 111, 129);
}
.sity-special__body-left-title
{
  color: #ffc74a;
  background: linear-gradient( rgba(52, 52, 52, 0.5), rgba(0, 0, 0, 0.7) ), url(../img/content/sandomierz.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em 1em 0em 1em;
}
.sity-special__body { 
width: 99%;
margin: 0 auto;
  }


  
  
  .sity-special__body-left{
    padding: 1em;
    text-align: center;
    border: 10px solid #ffc74a;
    }
    .sity-special__txt {

    @include regular-font;
      color: rgb(96, 111, 129);
      line-height: 2em;
      text-align: center;
    }


    .sity-special__body-right,.sity-special__bg-wrapper
    {
      display: none;
    }

    @media screen and (min-width: 767px) 

{

  .sity-special__body { 

    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
      }
      

  .sity-special__body-left{
    padding: 1em;
    border: none;
    width: 40%;
    }
    .sity-special__body-left-title
    {
      color: #ffc74a;
      background: transparent;
      padding: 0;
    }
    .sity-special__txt,.sity-special__body-left-title
    {
      text-align: left;
    }

    .sity-special__img,.sity-special__body-right
    {
      width: 36vw;
      height: 35vw;
      
      max-width: 470px;
      max-height: 455px;
      
    }
  .sity-special__body-right{
    
display: block;

border: 15px rgb(255, 199, 74) solid;

    background-color: transparent;
    position: relative;

  }
  .sity-special__img
  {

z-index: 7;
position: absolute;
bottom: 25px;
right:25px;

  }

  .sity-special__bg-wrapper
  {

  text-transform: uppercase;
  text-align: right;
  user-select: none;

display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: flex-end;


  position: absolute;

  right: 0;

  z-index: 1;
  }
  
  .sity-special__bg-txt 
  {

  font-size: 140px;
line-height: 1.3em;
  color: #fff;
  font-weight: bold;
  text-shadow: 0px 0px 125px rgba(141, 148, 169, 0.8);
  }
}




@media only screen and (min-device-width : 991px)
{



  .sity-special{
    position: static;
@include max-w;
  }


  .sity-special__body { 

width: 90%;

    }
      
    .sity-special__body-right
    {
      float: left;
    }

  .sity-special__img
  {
bottom: 30px;
right:30px;
  }

  .sity-special__bg-wrapper
  {


justify-content: center;

transform: translateY(-2vw);
  }
  
  .sity-special__bg-txt 
  {
  font-size: 170px;
  }

}