


.content__sity-line-list{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-evenly;
margin: 2vw auto;
width: 97%;
@include max-w;
}

.content__sity-line-item {

  border-radius: 14px;
  border: 1px  rgba(141, 148, 169, 0.3) solid;
  margin: 2vw auto;
display: flex;
flex-direction :column;
align-items: center;
  background-color: rgba(141, 148, 169, 0.062);
box-shadow: 0px 0px 7px 3px transparent;

user-select: none;
transition:all 0.4s linear;
cursor: pointer;
&:focus
{
  background-color: rgba(141, 148, 169, 0.233);
  box-shadow: 0px 0px 7px 3px rgb(141, 148, 169 );
}
}

.content__sity-line-item-img 
{
max-width: 100%;
max-height: 100%;
border-radius: 7px; 

filter: brightness(55%);
transition:all 0.4s linear;
object-fit: cover ;
}

.content__sity-line-item-title {

@include title-font;
color: rgb(96, 111, 129);
margin-bottom: 1vw;
margin-top: 1vw;

-webkit-text-stroke: 1.5px transparent; 
transition:all 0.4s linear;

}

.content__sity-line-item-subtitle 
{
color: rgba(96, 111, 129, 0.6);
margin-bottom: 1vw;
margin-top: 1vw;
@include regular-font;
transition:all 0.4s linear;
text-shadow: black 0 0 0px;

}


.content__sity-line-item.content__sity-line-item:focus .content__sity-line-item-subtitle 
{
text-shadow: black 0 0 2px;
}


.content__sity-line-item.content__sity-line-item:focus
  .content__sity-line-item-title {
  -webkit-text-stroke: 1.5px rgb(41, 47, 54); 
  }

  .content__sity-line-item.content__sity-line-item:focus
  .content__sity-line-item-img 
  {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.418);
  filter: brightness(105%);
  }

  .content__sity-line-item:nth-child(1).content__sity-line-item:focus 
  .content__sity-line-item-btn
  {
    @include hover-btn-white;
  }
  .content__sity-line-item:nth-child(2).content__sity-line-item:focus 
  .content__sity-line-item-btn
  {
@include hover-btn-orange;
  }
  .content__sity-line-item:nth-child(3).content__sity-line-item:focus 
  .content__sity-line-item-btn
  {
    @include hover-btn-white;
  }
  .content__sity-line-item:nth-child(4).content__sity-line-item:focus 
  .content__sity-line-item-btn
  {
    @include hover-btn-grey;
  }
  .content__sity-line-item:nth-child(5).content__sity-line-item:focus 
  .content__sity-line-item-btn
  {
    @include hover-btn-orange;
  }

  .content__sity-line-item:nth-child(6).content__sity-line-item:focus 
  .content__sity-line-item-btn
  {
    @include hover-btn-grey;
  }

  


  @media only screen and (min-width: 991px)
  {


    .content__sity-line-item {


    cursor: pointer;
    &:hover
    {
      background-color: rgba(141, 148, 169, 0.233);
      box-shadow: 0px 0px 7px 3px rgb(141, 148, 169 );
    }
    }


    .content__sity-line-item.content__sity-line-item:hover .content__sity-line-item-subtitle 
    {
    text-shadow: black 0 0 2px;
    }
    
    
    .content__sity-line-item.content__sity-line-item:hover
      .content__sity-line-item-title {
      -webkit-text-stroke: 1.5px rgb(41, 47, 54); 
      }
    
      .content__sity-line-item.content__sity-line-item:hover
      .content__sity-line-item-img 
      {
      box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.418);
      filter: brightness(105%);
      }






    
  .content__sity-line-item:nth-child(1).content__sity-line-item:hover
  .content__sity-line-item-btn
  {
    @include hover-btn-white;
  }
  .content__sity-line-item:nth-child(2).content__sity-line-item:hover
  .content__sity-line-item-btn
  {
@include hover-btn-orange;
  }
  .content__sity-line-item:nth-child(3).content__sity-line-item:hover
  .content__sity-line-item-btn
  {
    @include hover-btn-white;
  }
  .content__sity-line-item:nth-child(4).content__sity-line-item:hover
  .content__sity-line-item-btn
  {
    @include hover-btn-grey;
  }
  .content__sity-line-item:nth-child(5).content__sity-line-item:hover
  .content__sity-line-item-btn
  {
    @include hover-btn-orange;
  }

  .content__sity-line-item:nth-child(6).content__sity-line-item:hover
  .content__sity-line-item-btn
  {
    @include hover-btn-grey;
  }

  }

